/* Estilo personalizado para o menu */
.custom-navbar {
    background-color: #ffffff; /* Cor de fundo cinza mais leve */
    font-size: 16px; /* Tamanho da fonte 16 */
}

.custom-navbar .nav-link {
    color: #000000 !important; /* Cor das letras preta */
    font-size: 16px; /* Tamanho da fonte 16 */
}

.custom-navbar .nav-link:hover {
    background-color: green; /* Cor de fundo verde no hover */
    color: black !important; /* Cor das letras preta no hover */
    font-size: 14px; /* Tamanho da fonte aumentado para 14px no hover */
}

/* Gradiente de fundo da página */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff, #c1c0c0);
    color: #000000;
}

/* Estilo para o formulário */
.contato-form {
    background: linear-gradient(to bottom, #ffffff, #c1c0c0);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
}

.contato-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

.contato-form input,
.contato-form textarea,
.contato-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #d4cbcb;
    background-color: transparent;
    color: #000000;
}

.contato-form button {
    background-color: transparent;
    border: 2px solid #d4cbcb;
    padding: 10px 20px;
    cursor: pointer;
    color: #000000;
}

.contato-form button:hover {
    background-color: #d4cbcb;
    color: black;
}

/* Estilo para o conteúdo da página */
.conteudo-pagina {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
    flex: 1; /* Ocupa o espaço disponível verticalmente */
}

.conteudo-pagina h1 {
    font-size: 24px;
}

.conteudo-pagina p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo para o rodapé */
footer {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-around; /* Coloca as divs lado a lado */
}

.redes-sociais, .area-contato, .localizacao {
    text-align: center;
    margin-bottom: 20px;
    flex: 1; /* As divs filhas ocupam a mesma quantidade de espaço */
}

.redes-sociais img {
    margin: 5px;
}
